body {
  background-color: #e3f0f6;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

p {
  color: #333;
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  color: #319dcc;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  border: 1px solid #96d4d7;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

button {
  background-color: #319dcc;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

button:hover {
  background-color: #729ee1;
}

form input,
form label {
  display: block;
  margin-bottom: 6px;
}

form input[type="text"],
form input[type="number"] {
  padding: 6px;
  width: 250px;
  border: 1px solid #96d4d7;
  border-radius: 4px;
}

form input[type="checkbox"] {
  margin-right: 6px;
}

form {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #9eaaee;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

label {
  font-family: "PT sans", sans-serif;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/*    CLASSES     */
.content {
  display: flex;
  gap: 20px; /* Espaço entre os blocos */
  align-items: flex-start; /* Alinha pelo topo */
}

.product-list,
.form-section {
  flex: 1; /* Faz os dois lados ocuparem espaço igual */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.search-input {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid #9eaaee;
}
